<h2>Busqueda de Vuelos Disponibles</h2>
<div>
  <form [formGroup]="fligthForm" (ngSubmit)="onSubmit()" class="frm">
      <div class="form-group">
          <div class="col s4">
              <input type="text" formControlName="origen" id="origen" name="origen" value="Origen" />
              <hr />
          </div>
          <div class="col s4">
              <input type="text" formControlName="destino" id="destino" name="destino" value="Destino" />
              <hr />
          </div>
          <div class="col s4">
              <input type="date" formControlName="fechaLlegada" id="fechaLlegada" name="fechaLlegada" value="FechaLlegada" />
              <hr />
          </div>
      </div>
      <div class="form-group center">
          <div>
              <button name="Buscar Vuelo">Buscar Vuelo</button>
          </div>
      </div>
  </form>
</div>